html {
  overflow-y: scroll;
}

body {
  /* background-size: cover; */
  background: url(./images/background.jpg) fixed no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: rgb(129, 114, 88);
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -ms-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  font-family: 'Roboto Condensed', sans-serif;
}